
.dropzone {
    width:300px;
    height:300px;
    border:2px dashed #ccc;
    color: #ccc;
    line-height:300px;
    text-align: center;
}

.dropzone.dragover {
    border-color:#000;
    color:#000;
	


}

.unfavorite {
	height: 50px;
	width: 50px;
	background-image: url("./images/Star_Unselected.png");
	background-size: 50px 50px;
}

.favorite {
	height: 50px;
	width: 50px;
	background-image: url("./images/Star_Selected.png");
	background-size: 50px 50px;
}